@font-face {
  font-family: violetSans;
  src: url(VioletSans-Regular.woff);
}

body {
  background-color: black;
}

p::selection {
  color: rgba(0,0,0,1);
  background: rgba(255,255,255,1);
}

h1::selection {
  color: rgba(0,0,0,1);
  background: rgba(255,255,255,1);
}

li::selection {
  color: rgba(0,0,0,1);
  background: rgba(255,255,255,1);
}

a::selection {
  color: rgba(0,0,0,1);
  background: rgba(255,255,255,1);
}

h1 {
  font-family: violetSans;
  font-size: 2em;
  font-weight: normal;
  color: white;
}

p {
  color: white;
  font-size: 2em;
  font-family: violetSans;
  line-height: 1.2em;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  margin-left: .5em;
}

.works {
  margin-left: 2em;
}

.education {
  margin-left: 2em;
}

.experience {
  margin-left: 2em;
}

.footer {
  font-size: 1em;
}

.smaller-text {
  font-size: 1.5em;
}

ul {
  list-style: none;
}

li {
  color: white;
  font-size: 2em;
  font-family: violetSans;
  line-height: 1.2em;
}

li::before {
  content: "● ";
  color: white;
}


/* unvisited link */
a:link {
  color: white;
  background-color: #808080	;
  border-radius: 1em;
  text-decoration: none;
  padding-left: .35em;
  padding-right: .35em;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.5em;
  }

  li {
    font-size: 1.5em;
  }

  .container {
    margin: 0 auto;
  }

  .works {
    margin-left: 1em;
  }
}
