img {
    width: 100%;
    height: auto;
}

p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 110%;
height: auto;
}

/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 1024px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
  }
}
